OL { counter-reset: item }
OL LI { display: block }
OL LI:before { content: counters(item, ".") " "; counter-increment: item }

.invisible {
    opacity: 0.0;
}

*.atom {
    background-color: #EEEEEE;
    opacity: 1;
    box-shadow: 2px 2px;
}

.mark1 {
    background-color: #ff8383;
}
.mark2 {
    background-color: #16ab46;
}
.mark3 {
    background-color: #5bd682;
}
.mark4 {
    background-color: #5bc3d6;
}
.mark5 {
    background-color: #bd0f0f;
}
.mark6 {
    background-color: #d5ef1f;
}
.mark7 {
    background-color: #7FFF00;
}
.mark8 {
    background-color: #bd0f0f;
}
.mark9 {
    background-color: #16ab46;
}
.mark10 {
    background-color: #5bd682;
}
.mark11 {
    background-color: #bd0f0f;
}
